@page
@model MagazinAranjamenteFlorale.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details <small>order</small></h1>

<div>
 
    <hr />
    <dl class="row">

        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">

            <div class="row">
                <div class="col-6">@Html.DisplayNameFor(model => model.Order.Customer.CustomerName)</div>
                <div class="col-6">@Html.DisplayFor(model => model.Order.Customer.CustomerName)</div>
            </div>
            <hr />

            <div class="row">
                <div class="col-6">@Html.DisplayNameFor(model => model.Order.OrderDate)</div>
                <div class="col-6">@Html.DisplayFor(model => model.Order.OrderDate)</div>
            </div>
            <hr />

            <div class="row">
                <div class="col-6">Products</div>
                <div class="col-6"></div>
            </div>

            <div class="row">
                <div class="col-6">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                foreach (var product in Model.Order.OrderProducts) {
                                    @:<tr>
                                        <td>
                                            @product.Product.Name
                                        </td>

                                        <td>
                                            @product.Product.Price
                                        </td>
                                    @:</tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </dl>
    
    <hr />

    
</div>
<div class="mt-3 red-color">
    <a asp-page="./Edit" asp-route-id="@Model.Order?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
